<div class="px-6 pt-8">
   <p-card class="!p-0">
        <div class="bg-brand-primary p-8 rounded-t-lg"></div>
       <div class="flex justify-between items-center px-5">
            <div class="flex gap-4 items-center mt-5">
                <p-avatar label="G" shape="circle" size="xlarge" />
                <span class="flex flex-col ">
                    <span class="text-lg font-semibold">Gabriel Cardoso Girarde</span>
                    <span>{{ "gabrielcardosogirarde@gmail.com" }}</span>
                </span>
            </div>
            <button pButton type="button" icon="pi pi-pencil" label="Editar"></button>
       </div>
        <div class="px-5">
            <div class="grid grid-cols-2 mt-8 gap-6">
                 <p-floatlabel variant="on">
                     <input fluid pInputText id="on_label" autocomplete="off" />
                     <label for="on_label">Nome Completo</label>
                 </p-floatlabel>
                 <p-floatlabel variant="on">
                     <input fluid pInputText id="on_label" autocomplete="off" />
                     <label for="on_label">Email</label>
                 </p-floatlabel>
                 <p-floatlabel variant="on">
                    <input fluid pInputText id="on_label" autocomplete="off" />
                    <label for="on_label">Email</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input fluid pInputText id="on_label" autocomplete="off" />
                    <label for="on_label">Email</label>
                </p-floatlabel>
            </div>
         </div>
   </p-card>
</div>