<div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <!-- Pedidos Card -->
        <div class="flex flex-col bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200">
            <div class="flex items-center">
                <i class="pi pi-box text-3xl text-indigo-600 mr-3"></i>
                <span class="text-xl font-semibold text-gray-700">Pedidos</span>
            </div>
            <span class="text-3xl font-bold text-indigo-600 mt-2">500</span>
            <div class="mt-4">
                <p class="text-sm text-gray-500">Total de pedidos realizados</p>
            </div>
        </div>
    
        <!-- Receita Card -->
        <div class="flex flex-col bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200">
            <div class="flex items-center">
                <i class="pi pi-dollar text-3xl text-green-600 mr-3"></i>
                <span class="text-xl font-semibold text-gray-700">Receita</span>
            </div>
            <span class="text-3xl font-bold text-green-600 mt-2">R$ 500</span>
            <div class="mt-4">
                <p class="text-sm text-gray-500">Receita total gerada</p>
            </div>
        </div>
    </div>
    
    

</div>