<div class="px-6">
    <p-breadcrumb [model]="breadcrumbs" styleClass="bg-transparent"/>
    <div class="mb-6 shadow-lg">
        <div class="flex items-center gap-6 bg-white p-4 rounded-xl shadow-sm border border-gray-200">
            <!-- Data Início -->
            <div class="flex flex-col">
                <label class="text-sm text-gray-600 font-medium mb-1">Data Início: </label>
                <p-datepicker  placeholder="Selecione" size="small"></p-datepicker>
            </div>
    
            <!-- Data Fim -->
            <div class="flex flex-col">
                <label class="text-sm text-gray-600 font-medium mb-1">Data Fim: </label>
                <p-datepicker placeholder="Selecione" size="small"></p-datepicker>
            </div>
        </div>
    </div>
    
    
    <!-- Cards -->
    <div class="rounded-2xl">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Pedidos Card -->
            <div class="bg-white p-6 rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-200">
                <div class="flex items-center mb-4">
                    <div class="bg-indigo-100 text-indigo-600 p-3 rounded-full">
                        <i class="pi pi-box text-xl"></i>
                    </div>
                    <h3 class="ml-4 text-xl font-bold text-gray-800">Pedidos</h3>
                </div>
                <p class="text-3xl font-extrabold text-indigo-700">500</p>
                <p class="mt-2 text-sm text-gray-500">Total de pedidos realizados</p>
            </div>

            <!-- Receita Card -->
            <div class="bg-white p-6 rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-200">
                <div class="flex items-center mb-4">
                    <div class="bg-emerald-100 text-emerald-600 p-3 rounded-full">
                        <i class="pi pi-dollar text-xl"></i>
                    </div>
                    <h3 class="ml-4 text-xl font-bold text-gray-800">Receita</h3>
                </div>
                <p class="text-3xl font-extrabold text-emerald-700">R$ 500</p>
                <p class="mt-2 text-sm text-gray-500">Receita total gerada</p>
            </div>
        </div>
    </div>

    <!-- Gráfico -->
    <div class="bg-white mt-10 p-6 rounded-2xl shadow-md">
        <h4 class="text-lg font-semibold text-gray-700 mb-4 flex items-center">
            <i class="pi pi-chart-bar mr-2 text-xl text-blue-500"></i>
            <span class="text-xl font-bold text-gray-800">Produtos Vendidos</span>
        </h4>
        <div class="w-full overflow-x-auto">
            <p-chart type="bar" [data]="productData" class="w-full min-w-[300px] md:min-w-[600px]"></p-chart>
        </div>
    </div>
</div> 
